@import 'https://fonts.googleapis.com/css?family=Pavanam';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

* {
    margin: 0;
    bottom: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
body {
    background: url('../images/whitediamond.png');
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    font-family: 'Pavanam', sans-serif;
}
header,
footer {
    padding: 10px;
    background-color: #962038;
    width: inherit;
    box-sizing: border-box;
    color: #efefef;
    font-family: 'Montserrat', cursive;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
h1,
nav {
    display: inline;
}
a {
    text-decoration: none;
    color: #efefef;
    border: #efefef 1px solid;
    padding: 5px 10px;
    margin: 5px;
}
footer a {
    border: none;
    padding: 0;
    margin: 0;
}
main.container{
  padding: 15px;
  background: #fdfdfd;
  box-shadow: rgba(0,0,0,0.5) 1px 3px 10px;
}
main p {
    font-size: 3.5em;
     font-family: 'Poiret One', cursive;
     text-align: center;
}
table {
    width: 100%;
}
th {
    width: 15%;
    background: #962038;
    padding: 5px;
    color: #efefef;
    text-transform: uppercase;
    letter-spacing: 2px;
}
th:nth-of-type(5) {
    width: 40%;
}
td {
    border: #232323 1px solid;
    padding: 5px;
    text-align: center;
}
label,
input,
select {
    margin: 5px 0 0 5px;
    font-family: 'Montserrat', sans-serif;
}
#myForm {
    padding: 5px 10px;
    margin: 10px 0;
    cursor: pointer;
    background: #962038;
    color: #efefef;
    border: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
button:focus {
    outline: 0;
}
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none;
    background: #962038;
    font-weight: normal;
    color: #fff;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
    height: 420px !important;
}

.ui-widget-overlay.ui-front{
    background: rgba(0,0,0,0.9) !important;
}
